*{
    margin:0;
    padding:0;
    font-family:  sans-serif;
    scroll-behavior: smooth;
  }
  

  .wrapper {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
  }
  
  .wrapper1 {
    display: flex;
  }
  
  .logo {
    height: 15vh;
    width: 25%;
    border: 1px solid black;
    object-fit: contain;
  }
  
  .searchbarc{
    display: flex;
    height: 15vh;
    width: 75%;
    flex-direction: column;
    border: 1px solid black;
  }
  
  .linkbar{
    display: flex;
    border: 1px solid black;
    height: 40vh;
    padding: 0px;
  }
  
  .link{
    height: 100%;
    width: 75%;
    background-color: lightblue;
    display: flex;
    justify-content: end;
    align-items: center;
  }
  
  .link a{
    margin-right: 10%;
  }
  
  .searchbar{
    height: 100%;
    width: 25%;
    background-color: rgb(175, 232, 175);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .txt{
    width: 175px;
    height: 35px;
    margin-right: 10px;
  }
  
  .search{
    width: 60px;
    height: 40px;
  }
  
  .mainheading{
    height: 60vh;
    background-color: lightyellow;
    display: flex;
    justify-content: center;
    align-items: center;
  }
/* Rb */
.wrapper2{
    display: flex;
}
#pp{
margin-left: 60%;
}
.pp1{
    margin-left:2%;
    margin-right:2%;
}
.wrapper1,.wrapper2,.wrapper3,.wrapper4,.container{
    border:2px solid black;
}
#wrapper4id{
    margin: 1%;/*optional*/
    text-align: center;
}
.wrapper4{
    height:10%;
    background-color: orange;
}
.wrapper2{
    background-color:lightblue;
}
.main_content{
    float:left;
    height: 570px;
    width: 50%;
    overflow: scroll;
    padding:5px;
   
}
.wrapper3{
    display:block;
    height: 580px;
}
.division
{
    width:25%;
    float:left;
    height: 580px;
   
}
.local_navigation{
    border-top:    0px solid black;
    border-right:   2px solid black; 
    border-bottom:  2px solid black;
    border-left:    2px solid black;
    background-color: antiquewhite;
    
    height: 50%;
    
}
.search_banner_ads{
   border-top:    0px solid black;
border-right:   2px solid black ;
border-bottom:  0px solid black;
border-left:    2px solid black;
background-color:beige ;
    height: 50%;
}
.right_scan_column{
     
    width:23%;
    float:right;
    height: 580px;
    border-top:    0px solid black;
    border-right:   2px solid black; 
    border-bottom:  2px solid black;
    border-left:    2px solid black;
    background-color: beige;
}
.selection{
    border: 1px solid black;
    padding: 0px;
    display:block;
    text-align: center;
    background-color:azure;
  }
  .bt2
  {
    padding:1px 5px 1px 5px;
    margin:1px 10px 1px 10px;
    width:5%;
  }
    
body {
	font-family: 'Varela Round', sans-serif;
}
.form-control {
	box-shadow: none;		
	font-weight: normal;
	font-size: 13px;
}
.navbar {
	background: #fff;
	padding-left: 16px;
	padding-right: 16px;
	border-bottom: 1px solid #dfe3e8;
	border-radius: 0;
}
.nav-link img {
	border-radius: 50%;
	width: 36px;
	height: 36px;
	margin: -8px 0;
	float: left;
	margin-right: 10px;
}

.navbar .navbar-brand b {
	color: #33cabb;		
}
.navbar .form-inline {
	display: inline-block;
}
.navbar a {
	color: #888;
	font-size: 15px;
}
.search-box {
	position: relative;
}	
.search-box input {
	padding-right: 35px;
	border-color: #dfe3e8;
	border-radius: 4px !important;
	box-shadow: none
}
.search-box .input-group-text {
	min-width: 35px;
	border: none;
	background: transparent;
	position: absolute;
	right: 0;
	z-index: 9;
	padding: 7px;
	height: 100%;
}
.search-box i {
	color: #a0a5b1;
	font-size: 19px;
}
.navbar .sign-up-btn {
	min-width: 110px;
	max-height: 36px;
}
.navbar .dropdown-menu {
	color: #999;
	font-weight: normal;
	border-radius: 1px;
	border-color: #e5e5e5;
	box-shadow: 0 2px 8px rgba(0,0,0,.05);
}
.navbar a, .navbar a:active {
	color: #888;
	padding: 8px 20px;
	background: transparent;
	line-height: normal;
}
.navbar .navbar-form {
	border: none;
}
.navbar .action-form {
	width: 280px;
	padding: 20px;
	left: auto;
	right: 0;
	font-size: 14px;
}
.navbar .action-form a {		
	color: #33cabb;
	padding: 0 !important;
	font-size: 14px;
}
.navbar .action-form .hint-text {
    text-align: center;
    margin-bottom: 15px;
    font-size: 13px;
}
.navbar .btn-primary, .navbar .btn-primary:active {
	color: #fff;
	background: #33cabb !important;
	border: none;
}	
.navbar .btn-primary:hover, .navbar .btn-primary:focus {		
	color: #fff;
	background: #31bfb1 !important;
}
.navbar .social-btn .btn, .navbar .social-btn .btn:hover {
	color: #fff;
	margin: 0;
	padding: 0 !important;
	font-size: 13px;
	border: none;
	transition: all 0.4s;
	text-align: center;
	line-height: 34px;
	width: 47%;
	text-decoration: none;
}
.navbar .social-btn .facebook-btn {
	background: #507cc0;
}
.navbar .social-btn .facebook-btn:hover {
	background: #4676bd;
}
.navbar .social-btn .twitter-btn {
	background: #64ccf1;
}
.navbar .social-btn .twitter-btn:hover {
	background: #4ec7ef;
}
.navbar .social-btn .btn i {
	margin-right: 5px;
	font-size: 16px;
	position: relative;
	top: 2px;
}
.or-seperator {
	margin-top: 32px;
	text-align: center;
	border-top: 1px solid #e0e0e0;
}
.or-seperator b {
	color: #666;
	padding: 0 8px;
	width: 30px;
	height: 30px;
	font-size: 13px;
	text-align: center;
	line-height: 26px;
	background: #fff;
	display: inline-block;
	border: 1px solid #e0e0e0;
	border-radius: 50%;
	position: relative;
	top: -15px;
	z-index: 1;
}
.navbar .action-buttons .dropdown-toggle::after {
	display: none;
}
.form-check-label input {
	position: relative;
	top: 1px;
}
@media (min-width: 1200px){
	.form-inline .input-group {
		width: 300px;
		margin-left: 30px;
	}
}
@media (max-width: 768px){
	.navbar .dropdown-menu.action-form {
		width: 100%;
		padding: 10px 15px;
		background: transparent;
		border: none;
	}
	.navbar .form-inline {
		display: block;
	}
	.navbar .input-group {
		width: 100%;
	}
}
.navbar-brand {
  position: relative;
  background: url(../images/sabjiwala.png);
  border-radius: 50%;
  width: 150px;
  height: 100px;
 
  background-size: contain;
  background-repeat: no-repeat;
}
.navbar {
  min-height: 80px;
}
.navbar-custom {
  height: 100px;
}
.navbar a{
  font-size:large;
}